body, html {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* 背景色の変更 */
}

.container {
  text-align: center;
  max-width: 600px; /* コンテナの最大幅 */
  width: 100%;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 影を追加 */
  background: #ffffff; /* コンテナの背景色 */
  margin: 20px;
}

.video-wrapper {
  margin: 10px 0;
}

#qr-video {
  width: 100%; /* レスポンシブ対応 */
  height: auto; /* アスペクト比を維持 */
}

@media (max-width: 768px) {
  h1 {
      font-size: 1.5em; /* テキストサイズを調整 */
  }

  .container {
      padding: 10px;
      margin: 10px;
  }
}
