body, html {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

#qr-reader {
  width: 100%;
  max-width: 600px; /* スマートフォンの画面幅に応じて調整 */
}

#result {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}
